[Unit]
Description=CheckMK

Wants=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=10s
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/default/checkmk

ExecStop=/bin/sh -c '/usr/bin/docker ps | /bin/grep %p 1> /dev/null && /usr/bin/docker stop %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps | /bin/grep %p 1> /dev/null && /usr/bin/docker kill %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps -a | /bin/grep %p 1> /dev/null && /usr/bin/docker rm %p || true'
ExecStart=/usr/bin/docker run --rm \
  --name %p \
  --hostname %p \
  --ulimit nofile=1024 \
{% for item in checkmk_default_labels + checkmk_extra_labels %}
  --label {{ item }} \
{% endfor %}
  --env-file /etc/default/checkmk \
{% if checkmk_network | default(false) %}
  --network {{ checkmk_network }} \
{% endif %}
  --volume /etc/localtime:/etc/localtime:ro \
{% for item in checkmk_default_volumes + checkmk_extra_volumes %}
  --volume {{ item }} \
{% endfor %}
{% for item in checkmk_default_publish + checkmk_extra_publish %}
  --publish {{ item }} \
{% endfor %}
  --tmpfs /opt/omd/sites/${CMK_SITE_ID}/tmp:uid=1000,gid=1000 \
  {{ checkmk_image }}

[Install]
WantedBy=multi-user.target
